.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-ball {
	/*fill: #000000;*/
}
.icon-card {
	/*fill: #000000;*/
}
.icon-field {
	/*fill: #000000;*/
	width: 46px;
}
.icon-flag-corner {
	/*fill: #000000;*/
}
.icon-flag-ref {
	/*fill: #000000;*/
}
.icon-goal {
	/*fill: #000000;*/
	width: 52px;
}
.icon-hands {
	/*fill: #000000;*/
	width: 52px;
}
.icon-jersey {
	/*fill: #000000;*/
	width: 39px;
}
.icon-logo {
	/*fill: #000000;*/
}
.icon-player-sub {
	/*fill: #000000;*/
}
.icon-player {
	/*fill: #000000;*/
}
.icon-ref {
	/*fill: #000000;*/
	width: 39px;
}
.icon-score {
	/*fill: #000000;*/
	width: 48px;
}
.icon-stopwatch {
	/*fill: #000000;*/
}
.icon-trophy {
	/*fill: #000000;*/
	width: 40px;
}
.icon-whistle {
	/*fill: #000000;*/
	width: 61px;
}
.icon-file {
	/*fill: #000000;*/
}
.icon-qrcode {
	/*fill: #000000;*/
}
.icon-address-book {
	/*fill: #000000;*/
}
.icon-location {
	/*fill: #000000;*/
}
.icon-location2 {
	/*fill: #000000;*/
}
.icon-alarm {
	/*fill: #000000;*/
}
.icon-bubbles {
	/*fill: #000000;*/
}
.icon-spinner {
	/*fill: #000000;*/
}
.icon-cog {
	/*fill: #000000;*/
}
.icon-aid {
	/*fill: #000000;*/
}
.icon-bug {
	/*fill: #000000;*/
}
.icon-stats {
	/*fill: #000000;*/
}
.icon-remove {
	/*fill: #000000;*/
}
.icon-tree {
	/*fill: #000000;*/
}
.icon-cloud {
	/*fill: #000000;*/
}
.icon-cloud-download {
	/*fill: #000000;*/
}
.icon-cloud-upload {
	/*fill: #000000;*/
}
.icon-eye {
	/*fill: #000000;*/
}
.icon-eye-blocked {
	/*fill: #000000;*/
}
.icon-smiley {
	/*fill: #000000;*/
}
.icon-smiley2 {
	/*fill: #000000;*/
}
.icon-sad {
	/*fill: #000000;*/
}
.icon-sad2 {
	/*fill: #000000;*/
}
.icon-wondering {
	/*fill: #000000;*/
}
.icon-wondering2 {
	/*fill: #000000;*/
}
.icon-warning {
	/*fill: #000000;*/
}
.icon-info {
	/*fill: #000000;*/
}
.icon-cancel-circle {
	/*fill: #000000;*/
}
.icon-checkmark-circle {
	/*fill: #000000;*/
}
.icon-arrow-up-left {
	/*fill: #000000;*/
}
.icon-arrow-up {
	/*fill: #000000;*/
}
.icon-arrow-up-right {
	/*fill: #000000;*/
}
.icon-arrow-right {
	/*fill: #000000;*/
}
.icon-arrow-down-right {
	/*fill: #000000;*/
}
.icon-arrow-down {
	/*fill: #000000;*/
}
.icon-arrow-down-left {
	/*fill: #000000;*/
}
.icon-arrow-left {
	/*fill: #000000;*/
}
.icon-checkbox-checked {
	/*fill: #000000;*/
}
.icon-checkbox-unchecked {
	/*fill: #000000;*/
}
.icon-checkbox-partial {
	/*fill: #000000;*/
}
.icon-radio-checked {
	/*fill: #000000;*/
}
.icon-radio-unchecked {
	/*fill: #000000;*/
}
